@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-50: 41 41 41;
    --base-100: 61 61 61;
    --base-200: 70 70 70;
    --base-300: 82 82 82;
    --base-400: 101 101 101;
    --base-500: 124 124 124;
    --base-600: 152 152 152;
    --base-700: 189 189 189;
    --base-800: 220 220 220;
    --base-900: 239 239 239;
    --base-950: 255 255 255;

    --error-100: 255 142 142;
    --error-200: 255 23 23;
    --error-300: 226 0 0;
    --error-400: 135 3 3;
  }
  /* 
  @media (prefers-color-scheme: dark) {
    :root {
      --base-50: 246 246 246;
      --base-100: 231 231 231;
      --base-200: 209 209 209;
      --base-300: 176 176 176;
      --base-400: 136 136 136;
      --base-500: 109 109 109;
      --base-600: 93 93 93;
      --base-700: 79 79 79;
      --base-800: 69 69 69;
      --base-900: 61 61 61;
      --base-950: 0 0 0;
    }
  } */

  :root[data-theme="dark"] {
    --base-50: 246 246 246;
    --base-100: 231 231 231;
    --base-200: 209 209 209;
    --base-300: 176 176 176;
    --base-400: 136 136 136;
    --base-500: 109 109 109;
    --base-600: 93 93 93;
    --base-700: 79 79 79;
    --base-800: 69 69 69;
    --base-900: 61 61 61;
    --base-950: 20 20 20;
  }

  /* .theme-green { */
  /* --primary-50: theme("colors.green.50"); */
  /* --primary-100: theme("colors.green.100"); */
  /* --primary-200: theme("colors.green.200"); */
  /* --primary-300: theme("colors.green.300"); */
  /* --primary-400: theme("colors.green.400"); */
  /* --primary-500: theme("colors.green.500"); */
  /* --primary-600: theme("colors.green.600"); */
  /* --primary-700: theme("colors.green.700"); */
  /* --primary-800: theme("colors.green.800"); */
  /* --primary-900: theme("colors.green.900"); */
  /* } */

  .theme-orange {
    --primary-50: 255 247 237;
    --primary-100: 255 237 212;
    --primary-200: 255 214 169;
    --primary-300: 255 184 112;
    --primary-400: 254 145 57;
    --primary-500: 252 112 19;
    --primary-600: 237 85 9;
    --primary-700: 197 63 9;
    --primary-800: 156 50 16;
    --primary-900: 126 43 16;
    --primary-950: 68 20 6;
  }

  .theme-blue {
    --primary-50: 235 255 255;
    --primary-100: 205 251 255;
    --primary-200: 161 244 255;
    --primary-300: 112 236 255;
    --primary-400: 26 213 246;
    --primary-500: 0 184 220;
    --primary-600: 1 146 185;
    --primary-700: 9 117 149;
    --primary-800: 17 94 121;
    --primary-900: 19 78 102;
    --primary-950: 6 51 70;
  }
}
